@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>All Users</h1>

@if(Model.Count()>0)
{
    <div asp-validation-summary="All" class="text-danger"></div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(u=>u.FName)</th>
                <th>@Html.DisplayNameFor(u=>u.LName)</th>
                <th>@Html.DisplayNameFor(u=>u.UserName)</th>
                <th>@Html.DisplayNameFor(u=>u.Email)</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FName</td>
                    <td>@user.LName</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@string.Join(" , ",user.Roles.ToList())</td>
                    <td>
                        <a class="btn btn-success" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">
                            <i fas fas-pen></i>
                            Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="m-5 alert alert-warning">

        <h3>There Is No Records</h3>
    </div>
}
@section Scripts{
    <Partial name="_ValidationScriptsPartial"></Partial>
}